@reference "tailwindcss";

.rbg-header {
  @apply border-b-0 pb-4 text-sm font-medium text-[#6b7280];
}

.rbc-header + .rbc-header {
  @apply border-l-0;
}

.rbc-button-link {
  @apply text-xs font-normal text-[#6b7280];
}

.rbc-month-row {
  @apply min-h-[160px] border-x border-t;
}

:not(.rbc-month-row ~ .rbc-month-row).rbc-month-row {
  @apply rounded-t-md;
}

.rbc-month-row:last-of-type {
  @apply rounded-b-md border-b;
}

.rbc-month-view {
  @apply border-none;
}

.rbc-date-cell {
  @apply p-2;
}

.rbc-today {
  background: inherit;
}

.rbc-off-range-bg {
  background: inherit;
}
